# Compiled binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
/server
!/server/
/generator
!/generator/

# Test binaries
*.test

# Coverage reports
*.out
*.prof

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
